<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tell Me A Joke :)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>Do you want to hear a joke?</h1>
        <div class="choice">
            <form>
                <button type="submit" class="yes" formaction="/get-joke">Yes!😂</button>
                <button type="submit" class="no" formaction = "/get-not-in-mood">Not in the mood.🤬</button>
            </form>
        </div>
    </div>
</body>
</html>